
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
img {
  display: block;
}
*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family:"Noto Sans KR", sans-serif;
  font-size: 16px;
}
.font-en{
  font-family:"Open Sans",sans-serif;
}
a{
  color: #000;
  text-decoration: none;
}
.container{
  width: 1200px;
  margin:0 auto;
}
div h2{
  font-size: 60px;
  border: bold;
  color: #425a73;
}
.menu_icon{
  font-size: 60px;
  cursor: pointer;
}

.menu {
  width: 100%;
  padding :10px 30px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255,255,255,0.5);
  z-index: 1;
}
.menu ul{
  font-weight: bold;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: bold;
  color:#000;
  font-size: 24px;
  top:-30px;
  left:25%;
  opacity:0;
  transition:.5s ;
}
/* 각 메뉴 선택시 색상이 바뀌면서 아래 화면에 출력 */
.menu ul.clicked{
  top:20px;
  opacity: 1;
}  

.menu ul li{
  cursor: pointer;
  white-space: nowrap;
  margin-left: 70px;
  position: relative;
  top:-20;
  transition: .5s;
}
.menu ul li:hover {
  transform: translateY(-10px);
}
.menu ul li:hover a{
  color :#425a73;
}
.menu ul li:hover::after{
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  background-color: #bbdcfb;
  width: 100%;
  bottom: -10px;
}
#home{
  /* 나중에 home 백그라운드 이미지 삽입 */
  background-color: #bbdcfb;
  height: 100vh;
}
.container-2{
  height: 100%;
  position: relative;
}
.container-2 p:first-child{
  position: absolute;
  right: 30px;
  top: 120px;
  transform: rotate(90deg);
  font-size: 30px;
  font-weight: 200;
}
.container-2 p:nth-child(2){
  position: absolute;
  left: 30px;
  top: 150px;
  
  font-size: 30px;
  font-weight: 200;
}
.container-2 h1{
  font-size: 120px;
  color: #425a73;
  position: absolute;
  bottom:100px;
  left: 100px;
}

/* about_me */


#about_me{
  height: 100vh;
}
.container-3{
  padding-top: 150px;
  /* margin-top: 200px; */
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about_me_left{
  width: 500px;
  padding-right: 100px;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: end;
  
  
}
.about_me_left img{
  width: 600px;
  height: 400px;
  object-fit: cover;
}
.about_me_left_bg{
  background-color: #bbdcfb;
  width: 1000px;
  height: 460px;
  position: absolute;
  z-index: -2;
}
.about_me_left img,
.about_me_left h2{
  transform: translate(80px,-30px);
}



.about_me_right{
  width: 500px;
  height: 460px;
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  
}
.about_me_right li{
  display: block;
  margin: 30px 0 0 100px;
  
  
}
.arrow{
  position: absolute;
  top: 0;
  right: 0;
}
.arrow_com{
  font-size: 30px;
  cursor: pointer;
  font-weight: 300;
}
.arrow_off{
  color:gray;
}
.about_me_right .text{
  transition:  .5s;
  position: absolute;
  top:60px;
  opacity: 0;
} 
.about_me_right .text.text_on{
  opacity: 1;
  
}

/* skill */

#skills{
  width: 100%;
  height: 100vh;
}
.container-4{
  padding-top: 100px;
}
.container-4 h2 {

  text-align: center;

}
.container-4 h3{
  text-align: center;
  margin: 100px 0 60px 0;
  font-size: 40px;
  
}
.skill ul{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill ul:nth-child(2) li{
  display: block;
  margin-right: 40px;
  width: 160px;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
}
.skill ul:nth-child(2) li:nth-child(1){
  background-image: url(../img/skills_1.png);
}
.skill ul:nth-child(2) li:nth-child(2){
  background-image: url(../img/skills_2.png);
}
.skill ul:nth-child(2) li:nth-child(3){
  background-image: url(../img/skills_3.png);
}
.skill ul:nth-child(2) li:nth-child(4){
  width: 300px;
  background-image: url(../img/skills_4.png);
}
.skill_text h4{
  font-weight: 600;
  font-size: 30px;
  margin :10px 0 20px;
}
.skill_text>ul {
  padding-left: 100px;
  line-height: 20px;
  display: flex;
  justify-content:start;
}
.skill_text>ul>li {
  margin-top:50px;
  text-align: center;
}
.skill_text>ul>li:nth-child(1){
  margin-left: 30px;
}
.skill_text>ul>li:nth-child(2){
  margin-left: 56px;
}
.skill_text>ul>li:nth-child(3){
  margin-left: 50px;
}
.skill_text>ul>li:nth-child(4){
  margin-left: 160px;
}

/* project */
#project{
  background-color: #425a73;
  height: 100vh;
}
/* contact */
#contact{
  height: 100vh;
}