<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./main.css">

</head>
<body>
  <!-- 주어진 구조 외에 추가 가능 -->
  <!-- div.profile>img -->
  <div class="profile">
    <img src="/05_css/images/logo.png" alt="사진">
  </div>
  

  <!-- h3.title -->
  <h3 class="title">GIL HUN JEONG</h3>

  <!-- p.content -->
  <p class="content"><span>Full Stack</span>  Developer</p>
  
  <!-- div.box -->
  <div class="box">안녕하세요 GIL HUN JEONG 입니다.
    현재 웹 프론트엔드/백엔드 수강생으로 수업을 듣고있습니다.
    취미는 게임 입니다.
  </div>
  
</body>
</html>