<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./5_main.css">
</head>
<body>
  <div class="cart-background">
    <!-- 가운데 정렬을 위한 div -->
    <div class="inner">
      <h2>장바구니</h2>
      <table class="cart-list">
        <!-- 4행 5열 만들기 -->
        <tr>
          <th colspan="2">ITEM</th>
          
          <th >AMOUNT</th>
          <th>PRICE</th>
          <th>TOTAL</th>
        </tr>
        <tr>
          <td colspan="2"><img src="./images/item1.png" alt="카메라">카메라</td>
         
          <td>1</td>
          <td>100,000</td>
          <td>100,000</td>
        </tr>
        <tr>
          <td colspan="2"><img src="./images/item2.png" alt="신발"><span>신발</span></td>
          
          <td>2</td>
          <td>59,000</td>
          <td>118,000</td>
        </tr>
        <tr>
          <td colspan="5">주문금액 218,000원</td>
          
        </tr>
      </table>
      <div class="box">
        <div class="text-box"><a href="#">계속 쇼핑하기</a></div>
        <div class="button-box">
          <button type="button" class="button"><span>구매하기</span></button>
        </div>
      </div>


    </div>
  </div>
</body>
</html>