<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./6_main.css">
</head>
<body>
  <div class="shop-background">
    <div class="shop-container">
      <div class="shop-item">
        <img src="./images/product1.jpg" alt="상품1">
        <div class="overlay">이 상품은... </div>
      </div>
      <div class="shop-item">
        <img src="./images/product2.jpg" alt="상품2">
        <div class="overlay">
          <button type="button" class="btn">구매</button>
          <button type="button" class="btn">판매</button>
        </div>
      </div>
      <div class="shop-item">
        <img src="./images/product3.jpg" alt="상품3">
        <div class="overlay_out">
          <span class="price">Price:$4</span> </div>
      </div>
    </div>
  </div>
  
</body>
</html>