<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="./7_main.css">
</head>
<body>
  <div class="back-g">
    <div class="container">
      <div class="input">
        <label for="id">ID :</label>
        <input type="text" id="id">
        <br>
        <label for="password">PW :</label>
        <input type="password" id="password">
        <span class="material-symbols-outlined">
          visibility
          </span>

      </div>
      <div class="btn-box">
        <button type="button">로그인</button>
        <button type="button">회원가입</button>
      </div>
      
    </div>
  </div>
  
</body>
</html>